@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.Events__container {
    height: 100vh;
    background-image: linear-gradient(to bottom left, #F66F70, #F6D589);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Events__top-container{
    height: 65%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Events__bottom-container {
    height: 35%;
    width: 100%;
    display: flex;
}

.Events__inside-top-container {
    height: 80%;
    width: 90%;
    background: url('../../assets/Events/Marble_blue.jpg');
    display: flex;
}

.Events__topLeftContainer {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Events__topLeftContainerDiv1 {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: flex-end;
}

.Events__topLeftContainerDiv2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;
}

.Events__topRightContainer {
    width: 50%;
    height: 100%;
    padding-left: 1em;
    position: relative;
}

.Events__bottomLeftContainer {
    height: 100%;
    width: 50%;
    background: url('../../assets/Events/Pride_flag.jpeg');
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4%;
}

.Events__bottomLeftContainerh {
    font-size: 25px;
    color: white;
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
}

.Events__bottomRightContainer {
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 2%;
}

.Events__bottomRightContainerh{
    font-size: 35px;
    font-weight: 900;
    margin-block-end: 0%;
    margin-block-start: 0%;
    font-family: 'Montserrat', sans-serif;
}

.Events__name {
    margin-bottom: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: x-large;
    font-weight: 600;
}

.Events__desc {
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    padding-right: 4em;
}

.Events__image {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.Events__Overlay {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 97.5%;
}

.Events__leftOverlay {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
}

.Events__rightOverlay {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
}

.Events__leftOverlay:hover {
    background: rgba(0, 0, 0, 0.5);
}

.Events__rightOverlay:hover {
    background: rgba(0, 0, 0, 0.5);
}

.Events__aa {
    padding: 0.7em 1.5em;
    text-decoration: none;
    color: #000;
    border: black solid;
    border-radius: 25px;
    transition: all 1s;
    cursor: pointer;
}

.Events__aa:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}