.AboutUs__container {
  height: 100vh;
  background-image:   url("../../assets/AboutUs/groupphoto.png"),  url("../../assets/AboutUs/blogscover.jpg"), url("../../assets/AboutUs/smile.jpg");
  background-position: 0 0, 65% 0, 100% 0;
  background-size: 47% 100%, 27% 100%, 25% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.AboutUS__textContainer {
  display: flex;
  background-image: linear-gradient(to bottom, transparent 0%, transparent 60%, #000000bd 90%, #000000 95%);
  height: 100%;
  color: #fff;
}

.AboutUs__leftText {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 2%;
  cursor: pointer;
}

.AboutUs__rightText {
  width: 53%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding-bottom: 2%;
  cursor: pointer;
}

.AboutUs__a {
  color: #fff;
  font-weight: 300;
  font-size: 1rem;
  padding-left: 2rem;
}

.AboutUs__a:link {
  text-decoration: none;
  font-size: 1.25rem;
}

.AboutUs__h1 {
  font-size: 2.8rem;
  font-weight: 800;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding-left: 2rem;
}