.Team__container {
    background-image: url('../../assets/Team/background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow-y: auto;
}

.Team__container1 {
    height: 100vh;
    display: flex;
}

.Team__container1left {
    width: 50%;
    height: 100%;
    position: relative;
}

.Team__Overlay {
    position: absolute;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.Team__leftOverlay {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
}

.Team__rightOverlay {
    height: 100%;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.7s;
}

.Team__leftOverlay:hover {
    background: rgba(0, 0, 0, 0.5);
}

.Team__rightOverlay:hover {
    background: rgba(0, 0, 0, 0.5);
}

.Team__container1right {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Team__teamContainer {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
}

.Team__personContainer {
    height: 100vh;
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 2%;
    margin-bottom: 2rem;
}

.Team__memberImageContainer {
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;
}

.Team__memberImage {
    height: 100%;
    width: 100%;
}

.Team__memberName {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 600;
}

.Team__position {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.Team__memberDetail {
    font-family: 'Montserrat', sans-serif;
    font-size: 10.5px;
    color: grey;
}

.Team__social-link {
    font-size: 30px;
    color: black;
    margin-left: 10px;
}

.Team__containerHeading {
    font-size: 4.5em;
    margin-block-end: 0%;
    margin-block-start: 0%;
    color:teal;
    font-weight:bolder;
    padding-left: 7%;
}

.Team__containerSubHeading {
    padding-left: 7%;
    padding-right: 7%;
}

.Team__heading {
    margin-left: 2%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 2rem;
    font-weight: bolder;
    text-decoration: underline;
}

.Team__teacherData {
    word-wrap: normal;
    width: 50%;
    height: 80%;
    white-space: pre-line;
}

.Team__teacherCoordinator {
    display: flex;
    justify-content: space-around;
    align-items: center;
}