.Contact__container {
    height: 100vh;
    background-image: url('../../assets/Contact/background4.png');
    background-size: 100% 100%;
    display: flex;
}

.Contact__leftContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 5em;
    padding-left: 5em;
}

.Contact__contactusContainer {
    display: flex;
    align-items: center;
}

.Contact__line {
    height: 0.1px;
    width: 60px;
    background-color: white;
}

.Contact__contactus {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin-left: 1em;
}

.Contact__imageContainer {
    display: flex;
    justify-content: flex-end;
}

.Contact__rightContainer {
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 2em;
    padding-right: 3em;
}

.Contact__heading {
    font-family: 'Montserrat', sans-serif;
    color: #60b0ae;
    font-size: x-large;
}

.Contact__contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.Contact__subheading {
    font-family: 'Montserrat', sans-serif;
    color: #60b0ae;
}

.Contact__value {
    font-family: 'Montserrat', sans-serif;
}