@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
.navbar-brand{
  padding-left: 3%;
  margin-top: -0.7%;
}

.Navbar__Container {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
}

.navLink {
  font-family: 'Montserrat', sans-serif;
  font-size: 80%;
  text-decoration: none;
  color: #fff
}

.navbar{
  background-image: url("../../assets/Navbar/nav-img.png");
  width: 95%;
  text-align: center;
  margin: auto;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  font-family: 'Montserrat'
}
.navbar li{
  margin: 0 2%;

}
.navbar-light .navbar-nav .nav-link {
  color: #fff;
  font-size: 0.8rem;
}

.navbar-nav {
  width: 100%;
}

.btn {
  border-radius: 0;
  font-family: Arial;
  color: #ffffff;
  font-size: 21px;
  background: BLACK;
  padding: 0 15px;
  text-decoration: none;
  white-space: nowrap;
  margin-bottom: 10px;
}

.btn:hover {
  text-decoration: none;
}
.navbar-nav > li:nth-child(6){
  padding-left: 30%;
}

.navLink:hover {
  cursor: pointer;
}

.active {
  text-decoration: none;
}
